*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: black;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

.nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 8%;
}
.nav .burger-btn {
  position: relative;
  left: 30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: none;
  border: 1px solid transparent;
  z-index: 1000;
  cursor: pointer;
}
.nav .burger-btn:hover .burger-btn__bars::after,
.nav .burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.nav .burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.nav .burger-btn__bars, .nav .burger-btn__bars::after, .nav .burger-btn__bars::before {
  position: absolute;
  left: 0;
  height: 3px;
  content: "";
  background-color: #9f7919;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.nav .burger-btn__bars {
  width: 100%;
  margin-top: 2rem;
}
.nav .burger-btn__bars::after {
  top: 13px;
  width: 50%;
}
.nav .burger-btn__bars::before {
  top: 27px;
  width: 30%;
}
.nav__items {
  display: none;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.nav__item {
  color: white;
  padding: 1.5rem;
  text-transform: uppercase;
  font-size: 2rem;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav__item:hover {
  color: #9f7919;
}
.nav__mobile {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-image: linear-gradient(45deg, rgb(39, 47, 59), rgb(32, 27, 59));
  z-index: 100;
}
.nav__mobile--item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.nav__mobile--item:hover {
  background-color: #9f7919;
}
.nav__mobile--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav--active {
  background-color: rgba(58, 55, 55, 0.6901960784);
  -webkit-box-shadow: 0px 14px 24px -19px rgb(66, 68, 90);
          box-shadow: 0px 14px 24px -19px rgb(66, 68, 90);
}

.line_section {
  width: 5px;
  height: 150px;
  background-color: #9f7919;
  z-index: 100;
}

.header_section {
  overflow: hidden;
  height: 100vh;
  background-image: url(../img/header.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header_section .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(58, 55, 55, 0.4823529412);
  width: 100%;
  height: 100%;
}
.header_section .header__title {
  padding: 2rem;
  margin: 3rem;
  text-transform: uppercase;
  color: white;
  font-family: "Courier New", Courier, monospace;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
}
.header_section .header__title h1 {
  text-align: center;
  font-size: 6rem;
}
.header_section .header__title p {
  text-align: center;
  font-size: 3rem;
}

.about_me__seperator {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  background-color: rgb(255, 255, 255);
}
.about_me .line_section {
  position: absolute;
  left: 50%;
  height: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.about_me .section_title {
  position: absolute;
  left: 75%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
  color: #282828;
}
.about_me .about_me__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #e6e6e6;
  padding-top: 50px;
}
.about_me .about_me__wrapper .line_section {
  display: none;
  height: 150px;
}
.about_me .about_me__wrapper .about_me_contents {
  margin-top: 50px;
  width: 100%;
}
.about_me .about_me__wrapper .about_me_contents h3 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 5px;
  word-spacing: 10px;
}
.about_me .about_me__wrapper .about_me_contents__description {
  padding: 50px;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 9px;
}
.about_me .about_me__wrapper .about_me_contents__description p {
  font-size: 1.8rem;
}

.offer__seperator {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  background-color: rgb(255, 255, 255);
}
.offer .line_section {
  position: absolute;
  left: 50%;
  height: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.offer .section_title {
  position: absolute;
  left: 75%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
  color: #282828;
}
.offer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 10px;
  background-color: #282828;
}
.offer__wrapper .squer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 320px;
  width: 400px;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
  color: white;
  border: 2px solid white;
}
.offer__wrapper .squer p {
  padding: 10px;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 9px;
  color: #d5d5d5;
}
.offer__wrapper .squer h4 {
  font-size: 2.8rem;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}
.offer__wrapper .squer button {
  padding: 15px 45px;
  margin: 20px;
  font-size: 1.8rem;
  text-transform: uppercase;
  background-color: #9f7919;
  border: none;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.offer__wrapper .squer button:hover {
  background-color: #7d5f14;
}
.offer__wrapper .squer::before {
  display: block;
  position: absolute;
  content: "";
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: -30px;
  left: -180px;
  height: 160%;
  width: 100px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  z-index: 1;
}
.offer__wrapper .squer:hover::before {
  left: 130%;
}

.portfolio__seperator {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  background-color: rgb(255, 255, 255);
}
.portfolio .line_section {
  position: absolute;
  left: 50%;
  height: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.portfolio .section_title {
  position: absolute;
  left: 75%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
  color: #282828;
}
.portfolio__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio__wrapper .column img {
  height: 33%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__wrapper .column .big {
  height: 50%;
}
.portfolio__wrapper .small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.contact__seperator {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  margin-top: -10px;
  background-color: rgb(255, 255, 255);
}
.contact .line_section {
  position: absolute;
  left: 50%;
  height: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.contact .section_title {
  position: absolute;
  left: 75%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
  color: #282828;
}
.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #282828;
  color: white;
}
.contact__wrapper h3 {
  margin: 50px;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Courier New", Courier, monospace;
}
.contact__wrapper .form_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}
.contact__wrapper .form_wrapper .form {
  background-color: #282828;
}
.contact__wrapper .form_wrapper .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__wrapper .form_wrapper .form form label {
  padding: 10px;
  font-size: 2rem;
}
.contact__wrapper .form_wrapper .form form input {
  margin: 10px 30px;
  padding: 10px 10px;
  width: 80%;
  font-size: 2rem;
  background: none;
  border: none;
  border-bottom: 1px #9f7919 solid;
  color: white;
}
.contact__wrapper .form_wrapper .form form input:focus {
  outline: none;
}
.contact__wrapper .form_wrapper .form form textarea {
  margin: 10px 30px;
  padding: 10px 10px;
  width: 80%;
  font-size: 2rem;
  background: none;
  border: none;
  border-bottom: 1px #9f7919 solid;
  resize: none;
  color: white;
}
.contact__wrapper .form_wrapper .form form textarea:focus {
  outline: none;
}
.contact__wrapper .form_wrapper .form form .btn {
  background-color: #9f7919;
  width: 25%;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.contact__wrapper .form_wrapper .form form .btn:hover {
  background-color: #7d5f14;
}
.contact__wrapper .form_wrapper .forms_of_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 50px;
}
.contact__wrapper .form_wrapper .forms_of_contact a {
  margin-left: 20px;
  padding: 10px;
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
.contact__wrapper .form_wrapper .forms_of_contact a img {
  margin-right: 20px;
}

footer {
  margin: 30px 0 10px;
  text-align: center;
}
footer p {
  color: white;
}

@media (min-width: 400px) {
  .skis .arrow {
    top: 150%;
  }
}
@media (min-width: 576px) {
  .nav__mobile {
    width: 500px;
  }
  .line_section {
    height: 250px;
  }
}
@media (min-width: 768px) {
  .header_section .header__title h1 {
    font-size: 8rem;
  }
  .section_title {
    position: absolute;
    left: 57%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-transform: uppercase;
    font-size: 5rem;
    font-family: "Courier New", Courier, monospace;
    color: #282828;
  }
  .offer__wrapper .squer h4 {
    font-size: 2.8rem;
    padding: 20px;
  }
}
@media (min-width: 992px) {
  .gallery__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: wrap;
            flex-direction: wrap;
  }
  .footer__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__information p {
    padding: 40px;
    font-size: 1.8rem;
  }
  .portfolio__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .portfolio__wrapper .column {
    width: 35%;
  }
  .portfolio__wrapper .small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
  }
  .contact__wrapper .form_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__wrapper .form_wrapper .form {
    width: 50%;
    background-color: #282828;
  }
  .contact__wrapper .form_wrapper .form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .contact__wrapper .form_wrapper .form form input {
    width: 50%;
  }
  .contact__wrapper .form_wrapper .form form textarea {
    width: 50%;
  }
}
@media (min-width: 1100px) {
  .nav {
    background-color: #282828;
  }
  .nav .burger-btn {
    display: none;
  }
  .nav__items {
    display: inline-block;
  }
}
@media (min-width: 1400px) {
  .about_me__seperator {
    height: 300px;
  }
  .about_me .section_title {
    left: 57%;
    font-size: 5rem;
  }
  .about_me .about_me__wrapper {
    height: 100vh;
    padding-top: 50px;
  }
  .about_me .about_me__wrapper .line_section {
    display: block;
    height: 150px;
  }
  .about_me .about_me__wrapper .about_me_contents {
    margin-top: 200px;
    width: 100%;
  }
  .about_me .about_me__wrapper .about_me_contents h3 {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 5px;
    word-spacing: 10px;
  }
  .about_me .about_me__wrapper .about_me_contents__description {
    padding: 50px 300px;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 10px;
  }
  .about_me .about_me__wrapper .about_me_contents__description p {
    font-size: 2rem;
  }
  .offer__seperator {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
  }
  .offer .line_section {
    position: absolute;
    left: 50%;
    height: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .offer .section_title {
    left: 57%;
    font-size: 5rem;
  }
  .portfolio__seperator {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
  }
  .portfolio .line_section {
    position: absolute;
    left: 50%;
    height: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .portfolio .section_title {
    left: 60%;
    font-size: 5rem;
  }
  .contact__seperator {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
  }
  .contact .line_section {
    position: absolute;
    left: 50%;
    height: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .contact .section_title {
    left: 60%;
    font-size: 5rem;
  }
}/*# sourceMappingURL=main.css.map */