$black: #282828;
$theme: #9f7919;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: black;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

.nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 8%;

  .burger-btn {
    position: relative;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);
    background: none;
    border: 1px solid transparent;
    z-index: 1000;
    cursor: pointer;

    &:hover {
      .burger-btn__bars::after,
      .burger-btn__bars::before {
        width: 100%;
      }
    }

    &__box {
      position: relative;
      width: 40px;
      height: 30px;
    }
    &__bars,
    &__bars::after,
    &__bars::before {
      position: absolute;
      left: 0;
      height: 3px;
      content: "";
      background-color: $theme;
      transition: width 0.3s;
    }
    &__bars {
      width: 100%;
      margin-top: 2rem;

      &::after {
        top: 13px;
        width: 50%;
      }
      &::before {
        top: 27px;
        width: 30%;
      }
    }
  }

  &__items {
    display: none;
    position: relative;
    left: 17%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__item {
    color: white;
    padding: 0.8rem;
    text-transform: uppercase;
    font-size: 2rem;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      color: $theme;
    }
  }

  &__mobile {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    background-color: $black;
    // background-image: linear-gradient(45deg, rgb(6, 6, 4), rgb(46, 44, 2));
    z-index: 100;
    &--item {
      position: relative;
      display: block;
      margin: 0.5em 0;
      padding: 0.5em 2em;
      font-size: 2.8rem;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
      &:hover {
        background-color: $theme;
        color: $theme;
      }
    }
    &--active {
      transform: translateX(0);
    }
  }

  &--active {
    background-color: #3a3737b0;
    box-shadow: 0px 14px 24px -19px rgba(66, 68, 90, 1);
  }
}

//heder

.line_section {
  width: 5px;
  height: 150px;
  background-color: $theme;
  z-index: 100;
}

.header_section {
  overflow: hidden;
  height: 100vh;
  background-image: url(../img/header.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3a37377b;
    width: 100%;
    height: 100%;

    &__title {
      padding: 2rem;
      margin: 3rem;
      text-transform: uppercase;
      color: white;
      font-family: "Courier New", Courier, monospace;
      filter: blur(0.5px);

      .logo_bck {
        display: flex;
        justify-content: center;
        padding: 20px;

        img {
        }
      }

      h1 {
        text-align: center;
        font-size: 6rem;
      }

      p {
        text-align: center;
        font-size: 3rem;
      }
    }
  }
}

// ABOUT ME

.about_me {
  &__seperator {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
  }

  .line_section {
    position: absolute;
    left: 50%;
    height: 50%;
    transform: translate(-50%);
  }
  .section_title {
    position: absolute;
    left: 75%;
    transform: translate(-50%);
    text-transform: uppercase;
    font-size: 4rem;
    font-family: "Courier New", Courier, monospace;
    color: $black;
  }

  .about_me__wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #e6e6e6;
    padding-top: 50px;

    .line_section {
      display: none;
      height: 150px;
    }

    .about_me_contents {
      margin-top: 50px;
      width: 100%;

      h3 {
        font-size: 4rem;
        text-transform: uppercase;
        text-align: center;
        font-family: "Courier New", Courier, monospace;
        letter-spacing: 5px;
        word-spacing: 10px;
        margin: 0 10px;
      }

      &__description {
        padding: 50px;
        text-align: center;
        letter-spacing: 5px;
        word-spacing: 9px;
        p {
          font-size: 1.8rem;
        }
      }
    }
  }
}

//OFFER
.offer {
  &__seperator {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
  }

  .line_section {
    position: absolute;
    left: 50%;
    height: 50%;
    transform: translate(-50%);
  }
  .section_title {
    position: absolute;
    left: 75%;
    transform: translate(-50%);
    text-transform: uppercase;
    font-size: 4rem;
    font-family: "Courier New", Courier, monospace;
    color: $black;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 10px;
    background-color: $black;

    .squer {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 320px;
      width: 400px;
      margin: 20px;
      padding: 20px;
      overflow: hidden;
      color: white;
      border: 2px solid white;

      p {
        padding: 10px;
        font-size: 1.8rem;
        text-align: center;
        letter-spacing: 5px;
        word-spacing: 9px;
        color: #d5d5d5;
      }

      h4 {
        font-size: 2.8rem;
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
      }
      a {
        padding: 15px 45px;
        margin: 20px;
        font-size: 1.8rem;
        text-transform: uppercase;
        background-color: $theme;
        border: none;
        color: white;
        text-decoration: none;
        transition: 0.4s;
      }
      a:hover {
        background-color: #7d5f14;
      }
    }
    .squer::before {
      display: block;
      position: absolute;
      content: "";
      transition: all 0.5s;
      top: -30px;
      left: -180px;
      height: 160%;
      width: 100px;
      background-image: linear-gradient(
        -90deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
      );
      transform: rotate(20deg);
      z-index: 1;
    }

    .squer:hover::before {
      left: 130%;
    }
  }
}

//PORTFOLIO

.portfolio {
  background-color: $black;
  &__seperator {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
  }

  .line_section {
    position: absolute;
    left: 50%;
    height: 50%;
    transform: translate(-50%);
  }
  .section_title {
    position: absolute;
    left: 75%;
    transform: translate(-50%);
    text-transform: uppercase;
    font-size: 4rem;
    font-family: "Courier New", Courier, monospace;
    color: $black;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    .column {
      display: flex;
      flex-direction: column;
      .gallery_card {
        height: 33%;
        overflow: hidden;
        margin: 10px;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          transition: 0.4s;
          &:hover {
            scale: 1.1;
          }
        }
      }
      .big {
        height: 50%;
      }
    }
    .small {
      display: flex;
      // flex-direction: row;
      width: 100%;
    }
  }
}

//CONTACT
.contact {
  &__seperator {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: -10px;
    background-color: rgb(255, 255, 255);
  }

  .line_section {
    position: absolute;
    left: 50%;
    height: 50%;
    transform: translate(-50%);
  }
  .section_title {
    position: absolute;
    left: 75%;
    transform: translate(-50%);
    text-transform: uppercase;
    font-size: 4rem;
    font-family: "Courier New", Courier, monospace;
    color: $black;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $black;
    color: white;

    h3 {
      margin: 50px;
      font-size: 3.5rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-family: "Courier New", Courier, monospace;
    }
    .form_wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-top: 50px;
      width: 100%;

      .form {
        display: flex;
        align-items: start;
        margin-top: 50px;
        form {
          display: flex;
          width: 100%;
          flex-direction: column;
          justify-content: start;

          label {
            padding: 10px;
            font-size: 2rem;
          }
          input {
            margin: 10px 30px;
            padding: 10px 10px;
            width: 80%;
            font-size: 2rem;
            background: none;
            border: none;
            border-bottom: 1px $theme solid;
            color: white;
            &:focus {
              outline: none;
            }
          }
          textarea {
            margin: 10px 30px;
            padding: 10px 10px;
            width: 80%;
            font-size: 2rem;
            background: none;
            border: none;
            border-bottom: 1px $theme solid;
            resize: none;
            color: white;

            &:focus {
              outline: none;
            }
          }

          .btn {
            background-color: $theme;
            width: 20%;
            border: none;
            cursor: pointer;
            transition: 0.4s;

            &:hover {
              background-color: #7d5f14;
            }
          }
        }
      }

      .forms_of_contact {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 50px;

        .container {
          display: flex;
          flex-direction: column;
          a {
            margin-left: 20px;
            padding: 10px;
            color: white;
            font-size: 1.6rem;
            text-decoration: none;
            img {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}

// FOOTER

footer {
  margin: 30px 0 10px;
  text-align: center;
  p {
    color: white;
  }
}

//OFF DETAILS
.off_details {
  .off_details__wrapper {
    display: flex;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #e6e6e6;
    padding-top: 50px;

    .off_details_contents {
      margin-top: 100px;
      width: 100%;

      h3 {
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        font-family: "Courier New", Courier, monospace;
        letter-spacing: 5px;
        word-spacing: 10px;
        margin: 0 10px;
      }

      &__description {
        padding: 50px;
        text-align: center;
        letter-spacing: 5px;
        word-spacing: 9px;
        p {
          font-size: 2rem;
        }
      }
      .fot_wrapper {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 600px;
        // background-color: #282828;
        .foto {
          height: 400px;
          width: 300px;
          transform: rotate(20deg);
          margin-left: 50px;
          float: left;
          // :hover {
          //   transform: rotate(-40deg);
          //   scale: 1.2;
          // }
          img {
            height: 100%;
            width: 100%;
            transition: 0.5s;
          }
        }
      }
    }
  }
}

//MEDIA

@media (min-width: 400px) {
  .skis {
    .arrow {
      top: 150%;
    }
  }
}

@media (min-width: 576px) {
  .nav {
    &__mobile {
      width: 500px;
    }
  }
  .line_section {
    height: 250px;
  }
}

@media (min-width: 768px) {
  .header_section {
    .header {
      &__title {
        h1 {
          font-size: 8rem;
        }
      }
    }
  }

  .section_title {
    position: absolute;
    left: 57%;
    transform: translate(-50%);
    text-transform: uppercase;
    font-size: 5rem;
    font-family: "Courier New", Courier, monospace;
    color: $black;
  }

  .offer {
    &__wrapper {
      .squer {
        h4 {
          font-size: 2.8rem;
          padding: 20px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .gallery {
    &__container {
      display: flex;
    }
  }

  .footer {
    &__container {
      display: flex;
      flex-direction: wrap;
    }
    &__information {
      display: flex;
      justify-content: center;

      p {
        padding: 40px;
        font-size: 1.8rem;
      }
    }
  }

  .portfolio {
    &__wrapper {
      flex-direction: row;

      .column {
        width: 35%;
      }
      .small {
        flex-direction: column;
        width: 30%;
      }
    }
  }
  .contact {
    &__wrapper {
      h3 {
      }
      .form_wrapper {
        flex-direction: row;

        .form {
          margin-top: 0;
          width: 50%;

          form {
            flex-direction: column;
            align-items: start;

            input {
              width: 50%;
            }
            textarea {
              width: 50%;
            }
          }
        }
        .forms_of_contact {
          width: 50%;
          align-items: end;
          margin-right: 100px;
          .container {
            display: flex;
            flex-direction: column;
            a {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  .off_details {
    .off_details__wrapper {
      .off_details_contents {
        padding: 100px;
        p {
          // font-size: 2.2rem;
        }
        h3 {
          font-size: 4rem;
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  .nav {
    background-color: $black;

    .burger-btn {
      display: none;
    }

    &__items {
      display: inline-block;
    }
  }
}

@media (min-width: 1400px) {
  .about_me {
    &__seperator {
      height: 300px;
    }
    .section_title {
      left: 57%;
      font-size: 5rem;
    }

    .about_me__wrapper {
      height: 100vh;
      padding-top: 50px;

      .line_section {
        display: block;
        height: 150px;
      }

      .about_me_contents {
        margin-top: 200px;
        width: 100%;

        h3 {
          font-size: 5rem;
          text-transform: uppercase;
          text-align: center;
          font-family: "Courier New", Courier, monospace;
          letter-spacing: 5px;
          word-spacing: 10px;
        }

        &__description {
          padding: 50px 300px;
          text-align: center;
          letter-spacing: 5px;
          word-spacing: 10px;
          p {
            font-size: 2rem;
          }
        }
      }
    }
  }
  .offer {
    &__seperator {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 300px;
      background-color: rgb(255, 255, 255);
    }

    .line_section {
      position: absolute;
      left: 50%;
      height: 50%;
      transform: translate(-50%);
    }
    .section_title {
      left: 57%;
      font-size: 5rem;
    }
  }
  .portfolio {
    &__seperator {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 300px;
      background-color: rgb(255, 255, 255);
    }

    .line_section {
      position: absolute;
      left: 50%;
      height: 50%;
      transform: translate(-50%);
    }
    .section_title {
      left: 60%;
      font-size: 5rem;
    }
  }

  .contact {
    &__seperator {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 300px;
      background-color: rgb(255, 255, 255);
    }

    .line_section {
      position: absolute;
      left: 50%;
      height: 50%;
      transform: translate(-50%);
    }
    .section_title {
      left: 60%;
      font-size: 5rem;
    }
  }
}
